/*
       document : style.css, for shasta-projects
     created on : thursday, january 19, 2017, 08:51 AM
         author : adrielo (audrey) bongalon
    description : css stylesheet for the site

                                        88
                                        88
                                        88
      ,adPPYYba,  88       88   ,adPPYb,88  8b,dPPYba,   ,adPPYba,  8b       d8
      ""     `Y8  88       88  a8"    `Y88  88P'   "Y8  a8P,,,,,88  `8b     d8'
      ,adPPPPP88  88       88  8b      :88  88          8PP"""""""   `8b   d8'
      88,    ,88  "8a,   ,a88  "8a,   ,d88  88          "8b,   ,aa    `8b,d8'
      `"8bbdP"Y8   `"YbbdP'Y8   `"8bbdP"Y8  88           `"Ybbd8"'      Y88'
                                                                        d8'
                                                                       d8'
*/




root {
    display: block;
}




html {
    background: url("clouds-polluted-city.jpg") no-repeat right center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 101%;    /* this may seem like a contradiction, but this line is only for the background image */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}




body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}




.main-text {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: justify;
    padding: 0 20px;
    margin: 10px 0 10px;
}




.sidebar-text {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 13px;
    text-align: justify;
    padding: 0 10px;
    margin: 10px 0 15px;
}




.main-header {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 25px;
    text-align: justify;
    margin: 20px 20px 0;
    border-bottom: 1px solid #a1a1a1;
}




.sidebar-header {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    margin: 15px 10px 0;
    border-bottom: 1px solid #a1a1a1;
    padding-top: 10px;
}




.numbered-list {
    margin: 0 40px 20px;
}
.numbered-list li:before {
    padding-right: 20px;
}




.unordered-list {
    display: inline-block;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    margin: 0 20px;
    padding: 0;
}
.unordered-list li:before {
    content: "-";
    padding-right: 10px;
}




.sidebar {
    float: right;
    vertical-align: top;
    margin: 0;
    width: 27%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid #a1a1a1;
}




#title {
    margin: 0.5% 6% 0.5%;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
}




.nav {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.4);
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}




.nav ul {
    list-style: none;
	margin: 0 6% 0;
	width: 30%;
	padding: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}




.nav li {
    border-left: 1px solid #444444;
}
.nav li:last-of-type {
    border-right: 1px solid #444444;
}




.nav li {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;

    flex: 1 1 auto;
}




.nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.4s background-color;
}




.nav a:hover {
    background-color: #eadc97;
    background-color: rgba(234, 220, 151, 0.5);
    cursor: default;
}




.main-text::selection, .sidebar-text::selection, #title::selection, .nav::selection, .main-header::selection, .sidebar-header::selection,
.caption::selection, a::selection, i::selection, sub::selection, li::selection, img::selection, br::selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.main-text::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.sidebar-text::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
#title::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.nav::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.main-header::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.sidebar-header::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.caption::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
a::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
i::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
sub::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
li::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
img::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}

br::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}




.content-box {
    margin: 0 6%;
    height: 100%;
}




.main {
    display: inline-block;
    margin: 0 10px 0 0;
    height: 100%;
    width: 70.25%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
}




.smol-main {
    display: inline-block;
    margin: 0 1% 0 0;
    width: 70.25%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}




.references-box {
    display: inline-block;
    width: 99.8%;
    margin: 0;
    background-color: #f7f7f7;
    background-color: rgba(255, 255, 255, 0.75);
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}




.flex-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}




.flex-item {
    flex: 1 1 auto;
}




.jump-to ol {
    margin: 5px 5px 10px;
}




.jump-to li {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    margin: 0 10px;
}




.jump-to a, jump-to a:visited {
    color: #555599;
}
.jump-to a::selection {
    background: #9f8e38; /* WebKit/Blink Browsers */
}
.jump-to a::-moz-selection {
    background: #9f8e38; /* Gecko Browsers */
}




.img-border img {
    border: 2px solid #eeeeee;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #333333;
}

.default-img img{
    margin: 5px 20px;
    display: inline-block;
}




.caption-box {
    margin: 5px 20px 0;
}
/* make sure to manually add the width and the side to float it to in the html */




.caption {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 10px;
    margin: 0;
    padding-top: 2px;
    text-align: center;
}