/*
       document : style.css, for shasta-projects
     created on : thursday, january 19, 2017, 08:51 AM
         author : adrielo (audrey) bongalon
    description : css stylesheet for the site

             .8.        8 8888      88   8 888888888o.       8 888888888o.    8 888888888888 `8.`8888.      ,8'
            .888.       8 8888      88   8 8888    `^888.    8 8888    `88.   8 8888          `8.`8888.    ,8'
           :88888.      8 8888      88   8 8888        `88.  8 8888     `88   8 8888           `8.`8888.  ,8'
          . `88888.     8 8888      88   8 8888         `88  8 8888     ,88   8 8888            `8.`8888.,8'
         .8. `88888.    8 8888      88   8 8888          88  8 8888    ,88'   8 8888888888       `8.`88888'
        .8`8. `88888.   8 8888      88   8 8888          88  8 888888888P'    8 8888              `8. 8888
       .8' `8. `88888.  8 8888      88   8 8888         ,88  8 8888`8b        8 8888               `8 8888
      .8'   `8. `88888. ` 8888     ,8P   8 8888        ,88'  8 8888 `8b.      8 8888                8 8888
     .888888888. `88888.  8888   ,d8P    8 8888     ,o8P'    8 8888   `8b.    8 8888                8 8888
    .8'       `8. `88888.  `Y88888P'     8 888888888P'       8 8888     `88.  8 888888888888        8 8888

*/




root {
    display: block;
}




html {
    background: url("clouds-polluted-city.jpg") no-repeat right center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    min-height: 100%;    /* this line is mainly for the background image on mobile */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}




body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    font-family: "Open Sans", sans-serif;
}




/*  .main-text {  */
.content-box p {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 15px;
    text-align: justify;
    margin: 0 20px;
    padding: 0;
}
.content-box p + p, .flex-item ul + p {
    margin-top: 10px;
}




/*  .sidebar-text {  */
.sidebar p {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 13px;
    text-align: justify;
    margin: 10px 10px 15px;
    padding: 0;
}




/*  .main-header {  */
h2 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 25px;
    text-align: justify;
    margin: 20px 20px 10px;
    padding: 0;
    border-bottom: 1px solid #a1a1a1;
}
h2 ~ h2 {
    margin-top: 150px;
}




/*  .sidebar-header {  */
h3 {
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: justify;
    margin: 25px 10px 0;
    padding: 0;
    border-bottom: 1px solid #a1a1a1;
}




.content-box a {
    color: #9f8e36;
}
.content-box a:visited {
    color: #4f4302;
}




ol {
    margin: 10px 20px 10px 55px;
    padding: 0;
}
ol li {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 0;
    padding: 0 0 0 10px;    /* space between numbers and text */
}




ul {
    display: inline-block;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    margin: 0 20px 0 40px;
    padding: 0;
}
ul li {
    text-align: justify;
}
ul li::before {
    content: "-";
    padding-right: 10px;
}




sub, sup {
    line-height: 0;
}




#title {
    margin: 0.5% 6% 0.5%;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    font-size: 40px;
    font-weight: 100;
}




.nav {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #000000;
	background-color: rgba(0, 0, 0, 0.4);
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}




.nav ul {
    list-style: none;
	margin: 0 6% 0;
	width: 30%;
	padding: 0;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}




.nav li {
    border-left: 1px solid #525252;
}
.nav li::before {
    content: none;
}
.nav li:last-of-type {
    border-right: 1px solid #525252;
}




.nav li {
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    white-space: nowrap;

    flex: 1 1 auto;
}




.nav li a {
    display: block;
    padding: 8px 15px;
    text-decoration: none;
    color: #ffffff;
    -webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    -ms-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}




.nav a:hover {
    background-color: #eadc97;
    background-color: rgba(234, 220, 151, 0.5);
    cursor: default;
}




.units {
    list-style: none;
    width: 100%;
    margin: 0 0 10px;
    padding: 0;
}
.units li {
    font-family: "Raleway", sans-serif;
    font-size: 17px;
    font-weight: 400;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    margin: 0;
    padding: 0 10px;
    border-top: 1px solid #a1a1a1;

    -webkit-transition: background-color 0.4s ease-out;
    -moz-transition: background-color 0.4s ease-out;
    -o-transition: background-color 0.4s ease-out;
    -ms-transition: background-color 0.4s ease-out;
    transition: background-color 0.4s ease-out;
}
.units li:last-of-type {
    border-bottom: 1px solid #a1a1a1;
}
.units li:hover {
    background-color: #eadc97;
    background-color: rgba(234, 220, 151, 0.75);
}
.units li::before {
    content: none;
}




.content-box p::selection, #title::selection, .nav::selection, h2::selection, h3::selection, .caption::selection,
a::selection, i::selection, sub::selection, sup::selection, li::selection, img::selection, br::selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.main p::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.sidebar p::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
#title::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.nav::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
h2::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
h3::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
.caption::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
a::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
i::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
sub::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
sup::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
li::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}
img::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}

br::-moz-selection {
    background: #eadc97;
    background: rgba(234, 220, 151, 0.75);
}




.content-box {
    margin: 0 6%;
    height: 100%;
    min-height: 100%;
}




.main {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 0 0 40px;
    width: 70.25%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
}




.sidebar {
    float: right;
    vertical-align: top;
    margin: 0;
    padding: 0;
    width: 27%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}




.smol-main {
    display: inline-block;
    margin: 0 1% 0 0;
    width: 70.25%;
    background-color: #f7f7f7;
    background-color: rgba(255,255,255,0.75);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
}




.references-box {
    display: inline-block;
    width: 99.8%;
    margin: 0;
    padding: 0 0 10px;    /* needs moar visual space beneath list */
    background-color: #f7f7f7;
    background-color: rgba(255, 255, 255, 0.75);
    border-left: 1px solid #a1a1a1;
    border-right: 1px solid #a1a1a1;
    border-bottom: 1px solid #a1a1a1;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}




.calculations {
    margin: 20px 20px 40px;
}




/* -------------------------------------------------------------------------- */




.flex-container {
    margin: 10px 0;
    padding: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}




.flex-item {
    flex: 1 1 auto;
    margin: auto 0;
}
.flex-item p {
    padding: 0;
}




.img-border img {
    border: 2px solid #eeeeee;
    margin-top: 3px;                    /* to compensate for the border */
    border-radius: 3px;
    box-shadow: 2px 2px 3px #333333;
}




.calculations img {
    width: 100%;

    /* aligns to center */
    display: block;
    margin: 0 auto;
}
.calculations img + img {
    margin-top: 40px;    /* puts spaces between images. only between. not before or after */
}




.caption-box {
    margin: auto 20px;
}
/* make sure to manually add the width and the side to float it to in the html */




p.caption {
    font-family: "Open Sans", sans-serif;
    color: #000000;
    font-size: 10px;
    margin: 0;
    padding-top: 2px;
    text-align: center;
}